<?xml version="1.0" enconding="UTF-8"?>

<module name="Checker">
    <module name="TreeWalker">
        <module name="AvoidStarImport"><!--1-->
        <module name="CyclomaticComplexity"><!--2-->
        <module name="PackageName"><!--3-->
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
        </module><!--3-->
        <module name="ReturnCount">
            <property name="max" value="3"/>
        </module><!--4-->
    </module>
</module>